<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diploma</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/own-style.css" rel="stylesheet">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
          rel="stylesheet">
    <!-- Select2 Bootstrap -->

    <script src="js/technical-function.js"></script>
    <script>
        function searchRequest() {
            var searchRequest = $("#search-request").val();
            searchRequest = encodeURI(searchRequest);
            window.location.href = "/search?request=" + searchRequest;
            return false;
        }
    </script>
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Aviation directory</a>

    <!-- Navbar Search -->
    <form class="d-md-inline-block form-inline ml-auto mr-1 mr-md-3 my-2 my-md-0"
          onsubmit="return searchRequest()" id="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2" id="search-request">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <div class="dropdown">
        <a class="text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fa fa-bars text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/article/add">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Add article</a>
            <a class="dropdown-item" href="/category/add">
                <i class="fa fa-book" aria-hidden="true"></i>
                Add category</a>
        </div>
    </div>
</nav>

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container">
            <div class="form-group row align-items-center">
                <label for="language" class="col-auto col-form-label col-form-label-lg"><b>1. Choice
                    language</b></label>
                <div class="col-auto">
                    <select class="custom-select" id="language">
                        <option hidden disabled selected value></option>
                        <option value="ENGLISH">English</option>
                        <option value="UKRAINIAN">Українська</option>
                        <option value="RUSSIAN">Русский</option>
                    </select>
                </div>
            </div>
            <div class="collapse" id="second-point">
                <hr>
                <div class="form-group row align-items-center">
                    <label for="category-name" class="col-auto col-form-label col-form-label-lg"><b>2. Enter Category
                        name</b></label>
                    <div class="col-auto">
                        <input class="form-control" type="text" id="category-name" style="width: 250px">
                    </div>
                </div>
            </div>
            <div class="collapse" id="third-point">
                <hr>
                <div class="form-group row align-items-center" id="root-category-row">
                    <label for="root-category" class="col-auto col-form-label col-form-label-lg"><b>3. Choice root
                        category</b></label>
                    <div class="col-auto">
                        <select class="custom-select" id="root-category" name="state">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="button" class="btn btn-success btn-block" id="add-category"
                                onclick="uploadCategory(this)">Add Category
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<script>
    $("#language").change(function () {
        $("#second-point").show();

        $(this).change(fillCategoryList());
    });

    $("#category-name").keydown(function () {
        $("#third-point").show();
        $(this).off("change");

    });

    function fillCategoryList() {
        $('#root-category').select2({
            theme: "bootstrap"
        });

        var languageSelect = $("#language");
        var language = languageSelect.val();

        var oldHTML = loading();
        $.get(
            "/category/getList",
            {
                language: language
            }
        ).done(function (data) {
            fillSelectList(oldHTML, data);
            stopLoading(oldHTML);
        });

        function loading() {
            $("#root-category").select2('destroy');

            var oldHTML = $("#root-category-row").replaceWith('<div class="d-flex justify-content-center" id="loading">' +
                '<div class="spinner-grow" role="status">' +
                '<span class="sr-only">Loading...</span>' +
                '</div></div>');

            languageSelect.prop("disabled", true);
            $("#add-category").prop("disabled", true);

            return oldHTML;
        };
        function stopLoading(newSelectList) {
            $("#loading").replaceWith(newSelectList);
            $("#root-category").select2({
                theme: "bootstrap",
                placeholder: "root category...",
                width: '250px'
            });

            languageSelect.prop("disabled", false);
            $("#add-category").prop("disabled", false);
        }

        function fillSelectList(selectList, data) {
            var select = $(selectList).find("#root-category");
            $(select).html("<option hidden disabled selected value></option>");

            data.forEach(function (category) {
                var option = $("<option/>");
                option.val(category.id).text(category.name);

                select.append(option);
            })

        };
    }

    function uploadCategory(element) {
        $(element).prop("disabled", true);

        var category = new Object();
        category.language = $("#language").val();
        category.name = $("#category-name").val().trim();
        category.rootCategory = new Object();
        category.rootCategory.id = $("#root-category").val();

        if (!category.name) {
            var nameField = $("#category-name");

            nameField.addClass("is-invalid");
            nameField.keydown(function () {
                if (this.value) {
                    nameField.removeClass("is-invalid");
                    nameField.off("keydown");
                }
            });
            return;
        }

        $.ajax({
            url: "/category/add",
            method: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(category)
        }).always(function () {
            window.location.href = "/category/" + decodeURI(category.name);
        });
    }
</script>
</body>

</html>