<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diploma</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/own-style.css" rel="stylesheet">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
          rel="stylesheet">
    <!-- Select2 Bootstrap -->

    <script src="js/technical-function.js"></script>

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Aviation directory</a>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <div class="dropdown">
        <a class="text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fa fa-bars text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/article/add">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Add article</a>
            <a class="dropdown-item" href="/category/add">
                <i class="fa fa-book" aria-hidden="true"></i>
                Add category</a>
        </div>
    </div>
</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="px-1">Languages:</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <ul class="list-unstyled" id="homeSubmenu">
                    <div th:if="${otherArticles.get('ENGLISH')}">
                        <a class="dropdown-item side" th:classappend="${language.name() == 'ENGLISH'}  ? 'disabled' : _"
                           th:href="${otherArticles.get('ENGLISH')}">English</a>
                    </div>
                    <div th:if="${otherArticles.get('UKRAINIAN')}">
                        <a class="dropdown-item side"
                           th:classappend="${language.name() == 'UKRAINIAN'}  ? 'disabled' : _"
                           th:href="${otherArticles.get('UKRAINIAN')}">Українська</a>
                    </div>
                    <div th:if="${otherArticles.get('RUSSIAN')}">
                        <a class="dropdown-item side" th:classappend="${language.name() == 'RUSSIAN'}  ? 'disabled' : _"
                           th:href="${otherArticles.get('RUSSIAN')}">Русский</a>
                    </div>
                    <li>
                        <a class="dropdown-header text-white" th:if="!${pageIsFull}" th:href="'/article/add?page=' + ${pageId}">add article in
                            other
                            language...</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="content-wrapper">
        <div class="container" id="article-container">
            <div id="head">
                <h1><span th:text="${title}">Tittle</span>
                    <span class="badge badge-secondary" th:text="${abbreviation}">abbreviation</span>
                </h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-link text-dark py-0" id="sidebarCollapse">
                            <i class="fa fa-language fa-2x"></i>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row px-4">
                    <div class='col-auto px-1 py-1 category' th:each="category : ${categories}">
                        <div class='bg-dark p-2'>
                            <a class='category-name text-white' th:href="'/category/' + ${category.name}" th:text="${category.name}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="text-box" th:utext="${text}">
                <h1>HEAD</h1>
                <p><strong>bold</strong><br><em>italic</em></p>
                <blockquote>
                    <p>This is a quote.<br>It can span multiple lines!</p>
                </blockquote>
                <ul>
                    <li>generic list</li>
                    <li>generic list2</li>
                </ul>
                <ol>
                    <li>Numbered list</li>
                    <li>Numbered list 2</li>
                </ol>
                <p><a href="http://google.com">link</a></p>
                <p>
                    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Aeroflot_Tu-154B-2_CCCP-85396_ZRH_1982-6-20.png/270px-Aeroflot_Tu-154B-2_CCCP-85396_ZRH_1982-6-20.png"
                         alt="img"></p>
                <table>
                    <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Smith</td>
                        <td>Female</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- Markdown editor -->
</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script>
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass("active");
    });
</script>
</body>

</html>