<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diploma</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
          type='text/css'>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/own-style.css" rel="stylesheet">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
          rel="stylesheet">
    <!-- Select2 Bootstrap -->

    <script src="/js/category-function.js"></script>
    <script src="/js/upload-article.js"></script>
    <script src="/js/technical-function.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Aviation directory</a>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <div class="dropdown">
        <a class="text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fa fa-bars text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/article/add">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Add article</a>
            <a class="dropdown-item" href="/category/add">
                <i class="fa fa-book" aria-hidden="true"></i>
                Add category</a>
        </div>
    </div>
</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="px-1">Languages:</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <ul class="list-unstyled" id="homeSubmenu">
                    <a class="dropdown-item side" href="/category?language=ENGLISH"
                       th:classappend="${language.name() == 'ENGLISH'} ? 'disabled' : _">English</a>
                    <a class="dropdown-item side" href="/category?language=UKRAINIAN"
                       th:classappend="${language.name() == 'UKRAINIAN'} ? 'disabled' : _">Українська</a>
                    <a class="dropdown-item side" href="/category?language=RUSSIAN"
                       th:classappend="${language.name() == 'RUSSIAN'} ? 'disabled' : _">Русский</a>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="content-wrapper">
        <div class="row px-2 my-auto align-items-baseline">
            <div class="col px-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" th:text="${categories} ? _ : 'Root'">
                            <a th:href="@{/category(language=${language.name()})}">Root</a></li>
                        <div th:each="category, iteration : ${categories}" th:remove="tag">
                            <li class="breadcrumb-item">
                                <a th:href="@{/category/{category}(category=${category.name})}"
                                   th:text="${category.name}"
                                   th:if="!${iteration.last}">Category</a>
                                <span th:href="@{/category/{category}(category=${category.name})}"
                                      th:text="${category.name}"
                                      th:if="${iteration.last}">Category</span>
                            </li>
                        </div>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row px-5 pb-0">
            <div class="col-auto pl-0 pr-0">
                <button class="btn btn-link text-dark py-0" id="sidebarCollapse">
                    <i class="fa fa-language fa-2x"></i>
                </button>
            </div>
            <div class="col-auto pl-0">
                <h3>Subcategories</h3>
            </div>
        </div>
        <div class="row px-5 pt-0">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-3" th:each="subcategory : ${subcategories}">
                <h5>
                    <a class="link" th:href="@{/category/{subcategory}(subcategory=${subcategory.name})}">
                        <span th:text="${subcategory.name}">ssss</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="row px-5">
            <div class="col">
                <hr>
            </div>
        </div>

        <div class="row px-5">
            <div class="col-sm-12 col-md-3 py-2" th:each="article : ${articles}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="title">
                            <span th:text="${article.title}"></span>
                            <span class="badge badge-secondary" id="abbreviation" th:text="${article.abbreviation}">Abbreviation</span>
                        </h5>
                        <a class="card-link" th:href="@{/article/{article}(article = ${article.title})}">Read...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<script>
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass("active");
    });
</script>
</body>
</html>