<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diploma</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
          type='text/css'>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/own-style.css" rel="stylesheet">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
          rel="stylesheet">
    <!-- Select2 Bootstrap -->

    <script src="/js/category-function.js"></script>
    <script src="/js/update-article.js"></script>
    <script src="/js/technical-function.js"></script>
    <script type="text/javascript">
        var markdownEditor;
        $(document).ready(function () {

            $("#language").change(function () {
                clearCategoryArea();
                updateCategoryList();
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            markdownEditor = new SimpleMDE({
                element: document.getElementById("text"),
                toolbar: ["bold", "italic", "heading", "code", "strikethrough", "|",
                    "quote", "unordered-list", "ordered-list", "|",
                    "link", "image",
                    {
                        name: "Caption",
                        action: function (editor) {
                            var position = editor.codemirror.getCursor();
                            var ch = position.ch;
                            position.ch = 0;

                            editor.codemirror.replaceRange("###### ", position);
                            editor.codemirror.setSelection(position);

                            editor.codemirror.focus();
                            editor.codemirror.setCursor(position.line, ch + 7);
                        },
                        className: "fa fa-minus",
                        title: "Img caption",
                    },
                    "table", "|",
                    "preview", "|",
                    {
                        name: "guide",
                        action: function openLink(editor) {
                            window.open('http://google.com')
                        },
                        className: "fa fa-question-circle",
                        title: "Guide",
                    }],
                status: false,
                placeholder: "Enter article text...",
                spellChecker: false,
            });

            markdownEditor.value($("#text").val());

            $('#category-name').select2({
                theme: "bootstrap",
                dropdownParent: $('#addCategoryWindow'),
                width: "250px"
            });

            updateCategoryList();
        });

        function searchRequest() {
            var searchRequest = $("#search-request").val();
            searchRequest = encodeURI(searchRequest);
            window.location.href = "/search?request=" + searchRequest;
            return false;
        }
    </script>
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Aviation directory</a>

    <!-- Navbar Search -->
    <form class="d-md-inline-block form-inline ml-auto mr-1 mr-md-3 my-2 my-md-0"
          onsubmit="return searchRequest()" id="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2" id="search-request">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <div class="dropdown">
        <a class="text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fa fa-bars text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/article/add">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Add article</a>
            <a class="dropdown-item" href="/category/add">
                <i class="fa fa-book" aria-hidden="true"></i>
                Add category</a>
        </div>
    </div>
</nav>

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container">
            <div class="row py-2">
                <div class="col-auto">
                    <select class="custom-select" id="language" disabled>
                        <option selected th:value="${article.language.name()}" th:text="${article.language.getTitle()}"></option>
                    </select>

                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-4">
                    <input id="article-title" class="form-control form-control-lg" type="text" readonly
                           th:value="${article.title}">
                </div>
                <div class="col-2 px-0">
                    <input id="article-abbreviation" class="form-control form-control-md" type="text" readonly
                           th:placeholder="${article.abbreviation}">
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <textarea id="text" th:text="${article.text}"></textarea>
                </div>
            </div>
            <div class="row justify-content-start px-2" id="category-area">
                <div th:if="${!article.categories.isEmpty()}" th:each="category : ${article.categories}" th:remove="tag">
                    <div class='col-auto px-1 py-1 category'>
                        <div class='bg-dark p-2 text-white'>
                            <span class='category-name' data-id=" + id + " th:attr="data-id=${category.id}" th:text="${category.name}">name</span>
                            <button type='button' class='close' aria-label='Close'
                                    onclick='$(this).parent().parent().remove()'>
                                <span aria-hidden='true'>&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-success btn-circle shadow btn-xl" data-toggle="modal"
                            data-target="#addCategoryWindow">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row text-center py-1">
                <div class="col">
                    <button class="btn btn-primary shadow" id="check" onclick="updateArticle(this)">Update</button>
                </div>
            </div>
        </div>
        <!-- Markdown editor -->

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<div class="modal fade" id="addCategoryWindow" tabindex="-1" role="dialog" aria-labelledby="addCategoryWindow"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="text-center">Add tag</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group row justify-content-center align-items-center">
                    <div class="col-auto">
                        <select class="custom-select" id="category-name" name="state"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="addCategory($('#category-name :selected').text(), $('#category-name').val())">Add
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->
</body>
</html>