<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diploma</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/own-style.css" rel="stylesheet">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
          rel="stylesheet">
    <!-- Select2 Bootstrap -->

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Start Bootstrap</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
            </a>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="index">
                <i class="far fa-sticky-note"></i>
                <span>Index</span>
            </a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
        </div>
        <!-- /.container-fluid -->

        <div class="container">
            <div class="row py-2">
                <div class="col-auto">
                    <select class="custom-select" id="language">
                        <option value="ENGLISH">English</option>
                        <option value="UKRAINIAN">Українська</option>
                        <option value="RUSSIAN">Русский</option>
                    </select>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-4">
                    <input id="article-title" class="form-control form-control-lg" type="text"
                           placeholder="Article title">
                </div>
                <div class="col-2 px-0">
                    <input id="article-abbreviation" class="form-control form-control-md" type="text"
                           placeholder="Abbreviation">
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <textarea id="text"></textarea>
                </div>
            </div>
            <div class="row justify-content-start px-2" id="category-area">
                <div class="col-auto">
                    <button type="button" class="btn btn-success btn-circle shadow btn-xl" data-toggle="modal"
                            data-target="#addCategoryWindow">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row text-center py-1">
                <div class="col">
                    <button class="btn btn-primary shadow" id="check" onclick="uploadArticle()">Check</button>
                </div>
            </div>
        </div>
        <!-- Markdown editor -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<div class="modal fade" id="addCategoryWindow" tabindex="-1" role="dialog" aria-labelledby="addCategoryWindow"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="text-center">Add tag</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group row justify-content-center align-items-center">
                    <div class="col-auto">
                        <select class="custom-select" id="category-name" name="state"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="addCategory($('#category-name :selected').text(), $('#category-name').val())">Add
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script>
    var markdownEditor;

    $(document).ready(function () {
        markdownEditor = new SimpleMDE({
            element: document.getElementById("text"),
            toolbar: ["bold", "italic", "heading", "|",
                "quote", "unordered-list", "ordered-list", "|",
                "link", "image", "|",
                "preview", "side-by-side", "|",
                {
                    name: "guide",
                    action: function openLink(editor) {
                        window.open('http://google.com')
                    },
                    className: "fa fa-question-circle",
                    title: "Guide",
                }],
            status: false,
            placeholder: "Enter article text...",
            spellChecker: false,
        });

        setTimeout(function () {
            alert(markdownEditor.options.previewRender(markdownEditor.value()));
        }, 10000)

        $('#category-name').select2({
            theme: "bootstrap",
            dropdownParent: $('#addCategoryWindow'),
            width: "250px"
        });

        updateCategoryList();
    });
</script>


<script src="/js/category-function.js"></script>
<script src="/js/upload-article.js"></script>
</body>

</html>